@model NetworkCommunicationMonitor.Models.User

@{
    ViewBag.Title = "Question";
}

<h2>Security Question</h2>

@using (Html.BeginForm("ValidateQuestion", "User", FormMethod.Post))
{
    @Html.ValidationSummary(false);
    <div>
        <fieldset>
            <div class="editor-label">
                @ViewData["Question"]
                @Html.TextBoxFor(u => u.answerProvided)
                @Html.ValidationMessageFor(u => u.answerProvided)
            </div>
            <input type="submit" value="Submit Answer" />
        </fieldset>
    </div>
}