hr{
	color: gray;
}

.fl{
	float: left;
}
.pointer{
	cursor: pointer;
}

.card-wrapper{
    margin: -10px 0 15px 0;
}

* {
    font-family: 'Monda', sans-serif;
}

/**.card-form input{
    border: 1px dashed rgba(100, 100, 100, 0.2);
}
*/