<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Login</title>
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" media="screen" />
    <link rel="Bookmark" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            height: 100%;
            /*background: #16a085;*/
            background: rgb(33,33,33);
            overflow: hidden;
        }

        canvas {
            z-index: -1;
            position: absolute;
        }
    </style>
</head>

<body>
    <div class="container">
        <div id="loginbox" class="mainbox admin_login col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2" style="background-color: rgba(50,50,50,0.6);">

            <div class="panel-heading" style="padding:0 0 20px 0;">
                <div class="panel-title text-center" style="color: rgb(33,33,33);">
                    <img src="~/img/monitoring-white.svg" style="height:48px; width:48px; margin-bottom:5px;" />
                    <strong style="color:white; font-family: 'Monda', sans-serif;">Network Communication Monitor</strong>
                </div>
            </div>

            <div class="panel">
                <div style="padding-top:10px" class="panel-body">
                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                    @using (Html.BeginForm("Login", "User", FormMethod.Post))
            {
                <label for="basic-url" style="color: rgb(33,33,33);">Username</label>
                <div style="margin-bottom: 10px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" id="username-input" class="form-control" name="username" placeholder="username" required>
                </div>

                <label for="basic-url" style="color: rgb(33,33,33);">Password</label>
                <div style="margin-bottom: 10px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" id="password-input" class="form-control" name="password" placeholder="password" required>
                </div>

                <div class="row">
                    <div style="margin-bottom: 10px" class="col-md-12 controls">
                        <input id="btn-login" type="submit" class="btn btn-success btn-block" value="Log In" />
                    </div>
                </div>
                <div class="panel panel-default" style="margin: 0;">
                    <div class="panel-body text-center">
                        © 2018 Mars
                    </div>
                </div>
    }
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/js/vendor/jquery-1.11.1.min.js"></script>
    <script src="~/js/Particleground.js" tppabs="js/Particleground.js"></script>
    <script>
        $(document).ready(function () {
            $('body').particleground({
                dotColor: 'lightgrey',
                lineColor: 'lightgrey'
            });
        });
    </script>
</body>

</html>